<h1>Order Invoices</h1>
<ul>
  <li>@Model.OrdersTitle</li>
  <li>@Model.OrdersDescription</li>
  <li>@Model.OrdersDate</li>
  <li>@Model.OrdersPrice</li>
</ul>

<a href="/orders/new">Add an Order.</a>
